<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Online Doctor Appointment</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <app-city-dropdown-list></app-city-dropdown-list>&nbsp;&nbsp;&nbsp;&nbsp;
            <app-doctor-dropdown-list></app-doctor-dropdown-list>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <app-login-buttons></app-login-buttons>
            <app-patient-login-form></app-patient-login-form>
            <app-doctor-login-form></app-doctor-login-form>
            <app-patient-register-form></app-patient-register-form>
            <app-doctor-register-form></app-doctor-register-form>
        </div>
    </div>
</nav>