<div *ngFor="let n of numSequence(8)" class="specialist-card rounded-3 py-2 my-2 d-inline-block">
    <div class="specialist-card-body">
        <i class="fas fa-user-md fa-5x my-2 d-block"></i><hr>
        <h3 class="specialist-card-title"><strong>Dr.John Doe</strong></h3><hr>
        <ul class="specialist-card-text">
            <li>Qualification: MBBS</li>
            <li>Specialization: Cardiologist</li>
            <li>Experience: 5 years</li>
            <li>City: Kolkata</li>
            <li>Email id: john@gmail.com</li>
            <li>Mobile No: 7858765412</li>
            <li>Consultation fees: 1000</li>
        </ul><hr>
        <button type="button" class="btn btn-default rounded-pill me-md-2 mx-5">Book an appointment</button>
    </div>
</div>