<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <button id="openDoctorLoginForm" type="button" class="btn1 btn-default rounded-pill me-md-2" data-bs-toggle="modal" data-bs-target="#doctor-login">Are you a Doctor? | Login Here</button>
    <button id="openPatientLoginForm" type="button" class="btn2 btn-default rounded-pill me-md-2" data-bs-toggle="modal" data-bs-target="#patient-login">Patient Login</button>
</div>

<script>
    document.getElementById("openDoctorLoginForm").click();
    document.getElementById("openPatientLoginForm").click();
</script>