.btn1 {
    padding: 10px 10px;
    background-color: #228B22;
    color: #FFFFFF;
    border: none;
}

.btn2 {
    padding: 10px 10px;
    background-color: #FF0000;
    color: #FFFFFF;
    border: none;
    animation: glowing 1000ms infinite;
}

@keyframes glowing {
    0% {
        background-color: #8B0000;
        box-shadow: 0 0 10px #8B0000;
    }
    50% {
        background-color: #FF0000;
        box-shadow: 0 0 20px #FF0000;
    }
    100% {
        background-color: #8B0000;
        box-shadow: 0 0 10px #8B0000;
    }
}